<template>
  <div class="logIn_user">
    <v-container fluid>
      <img src="components/images/labanda.jpg" alt="AllBikes">
    </v-container>
    
    <div class="container_logIn_user">
      <h2>Iniciar sesión</h2>

      <form v-on:submit.prevent="processLogInUser">
        <input type="email" v-model="user.email" placeholder="Email" />
        <br />
        <input type="password" v-model="user.password" placeholder="Password" />
        <br />
        <button type="submit">Iniciar Sesion</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "LogIn",

  data: function(){
      return {
          user: {
              email: "",
              password: ""
          }
      }
  },

  methods: {
      processLogInUser: function(){
          axios.post(
              "https://allbikes-appbe.herokuapp.com/login/",
              this.user,
              {headers: {}}
              )
              .then((result) => {
                  let dataLogIn = {
                      email: this.user.email,
                      token_access: result.data.access,
                      token_refresh: result.data.refresh,
                  }

                  this.$emit("completedLogIn", dataLogIn)
              })
              .catch((error) => {

                  if (error.response.status == "401")
                      alert("ERROR 401: Credenciales Incorrectas.");

              });
        } 
    }
}
</script>

<style>
.logIn_user {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container_logIn_user {
  margin-top: 100px;
  border: 3px solid #283747;
  border-radius: 10px;
  width: 25%;
  height: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logIn_user h2 {
  color: #283747;
}
.logIn_user form {
  width: 70%;
}

.logIn_user input {
  height: 40px;
  width: 100%;

  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;

  border: 1px solid #283747;
}

.logIn_user button {
  width: 100%;
  height: 40px;

  color: #e5e7e9;
  background: #283747;
  border: 1px solid #e5e7e9;

  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0;
}

.logIn_user button:hover {
  color: #e5e7e9;
  background: crimson;
  border: 1px solid #283747;
}
</style>
